body {
    color: rgb(34, 53, 61);
    background-color: #e6ffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    background-color: rgb(59, 117, 148);
    color: #e6ffff; 
    text-align: left; 
    padding: 25px;
    top: 0;
    left: 0;
    right: 0;
}

h1 a {
    text-decoration: none;
    color: #f5ffff;
}

h1 a:hover {
    color:#00ffff;
}

h2 {
    text-align: center;
    font-size: 5em;
}

h3 {
    text-align: center;
    font-size: 2em;
}

h3 a {
    text-decoration: none;
    color: rgb(34, 53, 61);
}

h3 a:hover {
    color: rgb(139, 27, 68);
    font-weight: bolder;
    font-size: 110%;
}

h4 {
    font-size: large;
}

p {
    font-size: larger;
}

table, th, td {
    border: 2px solid rgb(34, 53, 61);
    font-size: large;
}

.main {
    width: 60%;
    margin:auto;
    min-height: 600px;
}

.warning {
    align-self: center;
    padding: 5px 20px 5px 20px;
    background-color: rgb(247, 255, 133);
    font-style: italic;
    width: fit-content;
    margin: auto;
}

a img {
    width: 96%; 
    margin: auto; 
    display: block;
}

a img:hover {
    width: 100%;
}

.socials {
    margin: auto;
    width: 50%;
}

.socialscontainers {
    float: left;
    top: 0;
    width: 50%;
}

.socials img {
    margin: auto;
    display: block;
    width: 92%;
    align-self: center;
}

.socials img:hover {
    width: 100%;
}

.sidenav {
    background-color: rgb(176, 223, 239);
    max-width: 240px;
    position: fixed;
    right: 83%;
    left: 8px;
    top: 150px;
    overflow-x: hidden;
    padding-left: 3px;
}

.sidenav a {
    padding: 6px 6px 6px 6px;
    text-decoration: none;
    font-size: 30px;
    display: block;
    color: rgb(29, 90, 124);
}

.subpage a {
    font-size: 25px;
    padding-left: 20px;
}

.sidenav a:hover {
    color: rgb(139, 27, 68);
    font-weight: bold;
}

.column2 {
    width: 50%
}

.column3 {
    float: left;
    width: 30%;
    padding: 10px;
}

.column3 img {
    width: 96%;
    margin: auto;
    display: block;
}

.column3 img:hover {
    width: 100%;
}

.left2 {
    float: left;
}

.right2 {
    float: right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    padding: 10px;
    text-align: center;
}

.footercontact a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(29, 90, 124);
}

.footercontact{
    font-size: 20px;
    text-decoration: none;
    color: rgb(29, 90, 124);
}

.footercontact a:hover {
    color: rgb(139, 27, 68);
    font-weight: bold;
}